

.Home {
  background-color: #000000;
  height: 100vh;
}

.welcome {
  position: absolute;
  left: 25%;
}

#greenBox {
  z-index: 10;
  border-radius: 3em;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  /* position: absolute; */
  background-color: #1DB954;
  width: 90vw;
  height: 90vh;
}
