.Home {
  /* background-color: #1DB954; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ui.card,
.ui.cards>.card {
  background-color: #1DB954;
}

.welcome {
  position: absolute;
  left: 25%;
}

#contentContainer {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191414;
  width: 100vw;
  height: 100vh;
}

.sampleText {
  position: absolute;
  color: #1DB954;
  top: 10%;
  font-size: 8em;
}
