#page-about {
  background-color: #EE6C4D;
}

#header-about {
  left: 0;
}

#bkg_about {
  right: 0;
  background-image: url('https://misc-site-storage.s3.us-east-2.amazonaws.com/IMG_5268.jpg');
}

#about-background {
  position: absolute;
  width: 50vw;
  height: 100vh;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: white;

  background-size: cover;
}


#about-container {
  font-size: 1rem;
  font-weight: bold;
  /* left: 5vw; */
  color: black;

  width: 50%;
  min-width: 350px;
  margin: 5vh;
  padding: 5px;

  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
}
