.App-header {
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

#typing-container {
  display: flex;
  font-size: 3vh;
  font-weight: bold;
  color: white;
  position: absolute;
  align-content: center;
  top: 10%;
  left: 15%;
  margin-left: -50px;
  width: 50%;
  height: 100px;
  min-width: 350px;
  padding-bottom: 15px;
}

.download-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: inherit;
  /* margin-left: 0;
  margin-right: 0; */
  font-weight: bold;
  color: blue;
  /* border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: white; */
}
