#page-header {
  background-color: #293241;
}

#bkg_header {
  background-image: url('https://misc-site-storage.s3.us-east-2.amazonaws.com/background.png');
}

#header-header {
  right: 0;
  top:0;
}

#personal-header {
  width: 50%;
  min-width: 350px;
  margin: 5vh;

  padding: 5px;

  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 10px;
}

.download-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: inherit;
  /* margin-left: 0;
  margin-right: 0; */
  font-weight: bold;
  color: blue;
  /* border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: white; */
}

#card-container {
  right: 10vw;
}
