.page {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  position: sticky;
  top: 0px;
}

li {
  margin: 5vh;
}

.header-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50vw;
  height: 100vh;

  top:0;
}

.download-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: inherit;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}
