.bg_image {
  height: 100vh;
  width: 100vw;
  background-image: url('https://misc-site-storage.s3.us-east-2.amazonaws.com/background.png');
  background-size: cover;
  background-color: grey;
  z-index: 100;
}

li {
  margin: 5vh;
}
