@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#particle-container {
  height: 100vh;
  z-index: -1;
}

#gitter-body {
  background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(45, 54, 76) 0%, rgb(37, 45, 63) 100%) repeat scroll 0% 0%;
}

#typing-container {
  font-size: 1vw;
  color: #dcdcdc;
  font-family: 'Roboto';
}

#title-container {
  background-color: none;
  color: #dcdcdc;
  position: absolute;
  padding-top: 5vh;
  padding-left: 2vw;
  font-family: 'Merriweather';
  font-size: 8vh;
  width: 20vw;
}

#geet-container {
  position: absolute;
  top: 40vh;
  width: 100vw;
}


.geet-column {
  float: left;
  width: 33.33%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
