@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#particle-container {
  height: 100vh;
  z-index: -1;
}

#gitter-body {
  background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(45, 54, 76) 0%, rgb(37, 45, 63) 100%) repeat scroll 0% 0%;
}

.field {
  padding-top: 30vh;
  width: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  align-content: center;
}

#description {
  position: inherit;
  margin-top: 5vh;
  margin-left: 10px;
  font-size: .6vw;
  color: #dcdcdc;
  font-family: 'Roboto';
}

#title-container {
  color: #dcdcdc;
  position: absolute;
  padding: 40px;
  font-family: 'Merriweather';
  font-size: 8vh;
  width: 40vw;
}

#geet-container {
  position: absolute;
  top: 40vh;
  width: 100vw;
}


.geet-column {
  float: left;
  width: 33.33%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
